<div *ngIf="auth.user$ | async as user; else login">
  <h4>Logged in as {{ user.displayName }}</h4>
  <app-user [uid]="user.uid"></app-user>
  <hr>
  <button class="button" (click)="presence.signOut()">Sign Out</button>
</div>
<ng-template #login>
  <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
</ng-template>

<hr>

<h4>User's Status</h4>
<img src="https://thumbs.dfs.ivi.ru/storage38/contents/3/9/30b2b6bb2b19632824c170e20caf5c.jpg" width="100px"
  style="display: block; margin: auto;">

<app-user uid="o98lwX5Unjg5slKYveVc8gV5WK63"></app-user>



<router-outlet></router-outlet>